/target
Cargo.lock
/.vscode

*.swp
.idea

# Example persisted files.
*.db
*.sqlite*
examples/test_data

# fuzz testing related
fuzz/target
fuzz/corpus
fuzz/artifacts
fuzz/coverage
fuzz/in
fuzz/out
fuzz/hfuzz_target
fuzz/hfuzz_workspace